Books.atom
Books.html
BooksBackLog.html
LeisureBooks_goodreads.csv
LeisureBooksBackLog_goodreads.csv
SoftwareEngineering/Books.atom
SoftwareEngineering/Books.html
SoftwareEngineering/BooksBackLog.html
SoftwareEngineering/Journal.atom
SoftwareEngineering/SoftwareBooks_goodreads.csv
SoftwareEngineering/SoftwareBooksBackLog_goodreads.csv
build.properties
chars.html
dump.out
foundation-5.5.0/
gitpull.secret
index_bootstrap.html
pure/
pure-release-0.6.0/
pure-release-0.6.0.zip
testing/tufte-css/
