Books.atom
Books.json
BooksBackLog.json
LeisureBooks_goodreads.csv
LeisureBooksBackLog_goodreads.csv
SoftwareEngineering/Books.atom
SoftwareEngineering/Books.json
SoftwareEngineering/BooksBackLog.json
SoftwareEngineering/Journal.atom
SoftwareEngineering/Journal.json
SoftwareEngineering/SoftwareBooks_goodreads.csv
SoftwareEngineering/SoftwareBooksBackLog_goodreads.csv
book_reviews.properties
build.properties
chars.html
dump.out
foundation-5.5.0/
gitpull.secret
index_bootstrap.html
pure-release-0.6.0/
pure-release-0.6.0.zip
*.zargo~

# Ignore files generated during `git pull`
*.md.history

# Ignore WebStorm and IntelliJ project files
.idea

# Ignore Obsidian config
data/.obsidian

# Skip sub-repos
jeantessier/
pure/
testing/tufte-css/
