a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-family: sans-serif;
}

.review {
/*
    font-family: "Bradley Hand ITC TT", cursive;
*/

    font-family: "Handwriting - Dakota", cursive;

/*
    font-family: "Savoye LET", cursive;
    font-size: 24px;
*/
}
