pre.code {
    width: 100%;
}

dl {
    width: 55%;
}

.centered-triplet td:first-child, .centered-triplet th:first-child {
    text-align: right;
}

.centered-triplet td, .centered-triplet th {
    text-align: center;
}

.centered-triplet td:last-child, .centered-triplet th:last-child {
    text-align: left;
}
