/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Calluna;
    src: url(fonts/Calluna-Regular.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fertigo Pro";
    src: url(fonts/Fertigo_PRO.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Fontin;
    src: url(fonts/Fontin-Regular.otf) format("opentype"), url(fonts/Fontin-Regular.ttf) format("truetype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Fontin;
    src: url(fonts/Fontin-Bold.otf) format("opentype"), url(fonts/Fontin-Bold.ttf) format("truetype");
    font-weight: bold;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Fontin;
    src: url(fonts/Fontin-Italic.otf) format("opentype"), url(fonts/Fontin-Italic.ttf) format("truetype");
    font-style: italic;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
/*
 * Commenting out because it conflicts with Regular in Firefox.
 *
 * @font-face {
 *     font-family: Fontin;
 *     src: url(fonts/Fontin-SmallCaps.otf) format("opentype"), url(fonts/Fontin-SmallCaps.ttf) format("truetype");
 *     font-variant: small-caps;
 * }
 */

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_R_45b.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_B_45b.otf) format("opentype");
    font-weight: bold;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_I_45b.otf) format("opentype");
    font-style: italic;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_BI_45b.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
/*
 * Commenting out because it conflicts with Regular in Firefox.
 *
 * @font-face {
 *     font-family: "Fontin Sans";
 *     src: url(fonts/Fontin_Sans_SC_45b.otf) format("opentype");
 *     font-variant: small-caps;
 * }
 */

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo300-Regular.otf) format("opentype");
    font-weight: 300;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo500-Regular.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo700-Regular.otf) format("opentype");
    font-weight: 700;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Museo Slab";
    src: url(fonts/Museo_Slab_500.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Museo Slab";
    src: url(fonts/Museo_Slab_500italic.otf) format("opentype");
    font-style: italic;
}

.heading {
    font-family: Museo;
    text-align: center;
}

.heading * {
    margin: 0em 0.5em;
}

.email {
    font-style: italic;
}

.recent_work {
    display: inline-block;
}

.recent_work span {
    font-family: Calluna;
}

.job {
    margin: 1em 0em;
}

.employer {
    font-family: Calluna;
    font-weight: bold;
}

.job .location {
    font-family: Calluna;
}

.job .title {
    font-family: Calluna;
    font-weight: bold;
}

.job .description {
    font-family: Calluna;
    font-size: 85%;
}

.job div {
    margin-left: 2.5em;
}

.goal {
    font-family: Calluna;
    font-size: 90%;
    margin: 0.5em 0em;
}

.keyword_label {
    font-family: "Fontin", sans-serif;
    font-size: 80%;
    color: gray;
}

.keyword {
    font-family: "Fontin Sans", sans-serif;
    font-size: 75%;
}

.location {
    font-size: smaller;
}

.name {
    font-size: x-large;
    font-weight: bold;
}

.narrow {
    width: 80%;
}

.time_span {
    float: right;
    font-family: Calluna;
    font-size: 75%;
    font-style: italic;
}

.publication {
    font-family: Calluna;
    margin: 0.75em 2.5em;
}

.publication .title {
    font-weight: bold;
}

.publication .authors {
    font-size: smaller;
}

.publication .reference {
    font-size: smaller;
}

.education {
    font-family: Calluna;
    margin: 0em 2.5em;
}

.education .degree {
    font-weight: bold;
}

.education .school {
    font-size: smaller;
}

.education .notes {
    font-size: smaller;
}

a {
    text-decoration: none;
}

a:link {
    color: darkblue;
}

a:visited {
    color: darkblue;
}

h3 {
    font-family: "Fertigo Pro";
    margin: 0.25em 0em;
    text-align: center;
}

sup {
    text-decoration: underline;
}
