.email {
    font-style: italic;
}

.employer {
    font-weight: bold;
}

.goal {
    font-size: 90%;
}

.keyword_label {
    font-size: smaller;
    color: gray;
}

.keyword {
    font-family: sans-serif;
    font-size: smaller;
}

.location {
    font-size: 90%;
}

.name {
    font-size: x-large;
    font-weight: bold;
}

.narrow {
    width: 80%;
}

.time_span {
    font-size: 75%;
    font-style: italic;
}

dd {
    margin-bottom: 1em;
}

h3 {
    text-align: center;
}
