.email {
    font-style: italic;
}

.goal {
    font-size: 90%;
}

.keyword_label {
    font-size: smaller;
    color: gray;
}

.keyword {
    font-family: sans-serif;
    font-size: smaller;
}

.name {
    font-size: x-large;
    font-weight: bold;
}

dd {
    padding-bottom: 1em;
}
