/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Calluna;
    src: url(fonts/Calluna-Regular.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_R_45b.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_B_45b.otf) format("opentype");
    font-weight: bold;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_I_45b.otf) format("opentype");
    font-style: italic;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_BI_45b.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_SC_45b.otf) format("opentype");
    font-variant: small-caps;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo300-Regular.otf) format("opentype");
    font-weight: 300;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo500-Regular.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo700-Regular.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Ainslie Sans";
    src: url(fonts/AinslieSans-NorReg.otf) format("opentype");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.heading {
    font-family: Museo;
    text-align: center;
}

.heading * {
    margin: 0em 0.5em;
}

.heading .name {
    font-size: x-large;
    font-weight: bold;
}

.heading .email {
    font-style: italic;
}

.goal {
    font-family: "Ainslie Sans";
    font-size: 90%;
    margin-bottom: 0.5em;
    margin-top: 0em;
    text-align: center;
    width: 80%;
}

.quick-facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
    white-space: nowrap;
    width: 100%;
}

.quick-facts .education {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25em;
}

.quick-facts .education .heading {
    font-family: "Fontin Sans";
    font-size: initial;
}

.quick-facts .education > div {
    font-family: "Ainslie Sans", sans-serif;
    font-size: 66%;
}

.quick-facts .education .school {
    font-family: "Ainslie Sans", sans-serif;
    font-size: smaller;
}

.quick-facts .keywords {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Ainslie Sans", sans-serif;
    font-size: 66%;
    border-color: lightgrey;
    border-style: double none;
    padding: 0.75em 0em;
    width: 300px;
}

.quick-facts .keywords > div {
    display: flex;
    flex-direction: column;
}

.job {
    margin: 0.75em 0em;
}

.job header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
}

.job .employer {
    font-family: "Ainslie Sans";
    font-weight: bold;
    margin-right: 0.5em;
}

.job .title {
    font-family: "Ainslie Sans";
    font-weight: bold;
    margin: 0em 0.5em;
}

.job .location {
    font-family: "Ainslie Sans";
    font-size: smaller;
}

.job .description {
    font-family: "Ainslie Sans";
    font-size: 80%;
}

.job div {
    margin-left: 2.5em;
}

.job ul {
    margin: 0em;
}

.job .keyword-label {
    font-family: "Fontin Sans", Calluna, sans-serif;
    font-size: 80%;
    font-variant: small-caps;
    color: lightgray;
}

.job .keyword {
    font-family: "Ainslie Sans", sans-serif;
    font-size: 66%;
}

.job .time-span {
    flex-grow: 1;
    font-family: "Fontin Sans";
    font-size: 75%;
    font-style: italic;
    text-align: right;
}

a {
    text-decoration: none;
}

a:link {
    color: darkblue;
}

a:visited {
    color: darkblue;
}

h3 {
    font-family: "Fontin Sans";
    margin: 0em;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Ainslie Sans";
    font-size: 80%;
    margin-top: 0.75em;
    width: 100%;
}
