/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Calluna;
    src: url(fonts/Calluna-Regular.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fertigo Pro";
    src: url(fonts/Fertigo_PRO.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Fontin;
    src: url(fonts/Fontin-Regular.otf) format("opentype"), url(fonts/Fontin-Regular.ttf) format("truetype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Fontin;
    src: url(fonts/Fontin-Bold.otf) format("opentype"), url(fonts/Fontin-Bold.ttf) format("truetype");
    font-weight: bold;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Fontin;
    src: url(fonts/Fontin-Italic.otf) format("opentype"), url(fonts/Fontin-Italic.ttf) format("truetype");
    font-style: italic;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Fontin;
    src: url(fonts/Fontin-SmallCaps.otf) format("opentype"), url(fonts/Fontin-SmallCaps.ttf) format("truetype");
    font-variant: small-caps;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_R_45b.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_B_45b.otf) format("opentype");
    font-weight: bold;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_I_45b.otf) format("opentype");
    font-style: italic;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_BI_45b.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Fontin Sans";
    src: url(fonts/Fontin_Sans_SC_45b.otf) format("opentype");
    font-variant: small-caps;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo300-Regular.otf) format("opentype");
    font-weight: 300;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo500-Regular.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: Museo;
    src: url(fonts/Museo700-Regular.otf) format("opentype");
    font-weight: 700;
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Museo Slab";
    src: url(fonts/Museo_Slab_500.otf) format("opentype");
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
    font-family: "Museo Slab";
    src: url(fonts/Museo_Slab_500italic.otf) format("opentype");
    font-style: italic;
}

body {
    background: rgb( 66,  66, 111);
    color: rgb(255, 235, 205);
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(198, 230, 255);
}

a:visited {
    color: rgb(198, 230, 255);
}

a:active {
    color: rgb(255, 255, 112);
}

/*
a:hover {
    text-decoration: underline;
}
*/

h1 {
    color: white;
}

h1.highlight {
    text-align: center;
}

h2 {
    color: white;
}

.lowlight {
    color: rgb(191, 176, 154);
}

ol ol li {
    list-style-type: lower-alpha;
}

dl dd {
    margin-bottom: 10;
}

.padded {
    font-family: Calluna;
    padding-left: 10;
    padding-right: 10;
    vertical-align: top;
    text-align: center;
}

.content {
    font-family: Fontin, sans-serif;
}
