@font-face {
    font-family: "Ainslie Sans";
    src: url(fonts/AinslieSans-NorReg.otf) format("opentype");
}

body {
    background: #fffff8;
    color: #111;
}

a {
    text-decoration: none;
}

a:link {
    color: #111;
}

a:visited {
    color: #111;
}

a:active {
    color: #111;
}

h1 {
    font-family: ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-weight: 400;
    font-size: 3.2em;
    line-height: 1;
}

h1.highlight {
    text-align: center;
}

ol ol li {
    list-style-type: lower-alpha;
}

dl dd {
    margin-bottom: 10px;
}

.padded {
    font-family: Ainslie Sans;
    line-height: 1.33;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: top;
}

.content {
    font-family: ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1.1em;
    line-height: 2em;
}

.content a {
    border-bottom: 1px solid #777;
    padding-bottom: 1px;
}

.portrait {
    margin-bottom: 1em;
    margin-top: 1em;
}

.portrait img {
    border-radius: 15%;
}
