@font-face {
    font-family: "Ainslie Sans";
    src: url(fonts/AinslieSans-NorReg.otf) format("opentype");
}

body {
    background: #fffff8;
    color: #111;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

a {
    text-decoration: none;
}

a:link {
    color: #111;
}

a:visited {
    color: #111;
}

a:active {
    color: #111;
}

h1 {
    font-family: ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1;
    text-align: center;
}

ol ol li {
    list-style-type: lower-alpha;
}

dl dd {
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    border-top-style: groove;
    border-bottom-style: groove;
    padding: 1rem;
}

.navigation .section {
    display: flex;
    flex-direction: column;
}

.navigation .section .name {
    font-family: Ainslie Sans;
    line-height: 1.33;
    text-align: center;
    vertical-align: top;
    height: 3rem;
}

.navigation .section .separator {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navigation .section .separator hr {
    width: 25px;
}

.navigation .section .link {
    font-family: Ainslie Sans;
    line-height: 1.33;
    text-align: center;
    vertical-align: top;
}

.padded {
    font-family: Ainslie Sans;
    line-height: 1.33;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: top;
}

.main-text {
    display: grid;
    grid-template-columns: 35ch 35ch;
    row-gap: 1.5rem;
    column-gap: 3.5rem;
    font-family: ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1.1rem;
    line-height: 2rem;
}

.main-text div {
    text-align: justify;
}

.main-text .wide {
    grid-column: 1 / -1;
}

.main-text a {
    border-bottom: 1px solid #777;
    padding-bottom: 1px;
}

.portrait img {
    border-radius: 15%;
}
