<html ng-app="booksApp" ng-controller="BooksCtrl as books">

<head>
    <link rel="stylesheet" type="text/css" href="../tufte.css" />
    <link rel="stylesheet" type="text/css" href="../books.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{books.title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.min.js"></script>
    <script src="../lib/Books.js"></script>
    <script type="application/javascript">
        angular
                .module("booksApp")
                .constant("BACKEND_URL", "Books_json.cgi");
    </script>
</head>

<body>

<h1>{{books.title}}</h1>

<p>Contents</p>
<div class="table-of-contents">
    <div ng-repeat="book in books.books">
        <span class="marker">{{book.start.substring(0, 4)}}</span> <a href="#{{book.name}}" ng-bind-html="book.titles[0].title.split(':', 1)[0]"></a>
    </div>
</div>

<article ng-repeat="book in books.books">
    <a name="{{book.name}}"></a>
    <h2>
        <div ng-repeat="title in book.titles">
            <a ng-if="title.link" href="{{title.link}}" ng-bind-html="title.title"></a>
            <span ng-if="!title.link" ng-bind-html="title.title"></span>
        </div>
    </h2>

    <header>
        <table class="book-metadata">
            <tbody>
                <td class="author"><div ng-repeat="author in book.authors" ng-bind-html="author"></div></td>
                <td class="publisher" ng-bind-html="book.publisher"></td>
                <td class="published-year"><div ng-repeat="year in book.years" ng-bind-html="year"></div></td>
            </tbody>
        </table>
    </header>

    <section ng-bind-html="book.body"></section>

    <footer>
        <table class="reading-metadata">
            <tbody>
                <tr>
                    <td class="time">Started reading:</td>
                    <td ng-if="book.start" class="time"><code>{{book.start}}</code></td>
                    <td ng-if="!book.start" class="no_time">not started</td>
                </tr>
                <tr ng-if="book.start">
                    <td class="time">Finished reading:</td>
                    <td ng-if="book.stop" class="time"><code>{{book.stop}}</code></td>
                    <td ng-if="!book.stop" class="no_time">in progress</td>
                </tr>
            </tbody>
        </table>
    </footer>
</article>

</body>

</html>
