<html ng-app="booksApp" ng-controller="BooksCtrl as books">

<head>
    <link rel="stylesheet" type="text/css" href="../tufte.css" />
    <link rel="stylesheet" type="text/css" href="../books.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{books.title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.min.js"></script>
    <script src="../lib/Books.js"></script>
    <script type="application/javascript">
        angular
                .module("booksApp")
                .constant("BACKEND_URL", "BooksBackLog_json.cgi");
    </script>
</head>

<body>

<section>
    <h1>{{books.title}}</h1>

    <article ng-repeat="book in books.books">
        <a name="{{book.name}}"></a>
        <h2>
            <div ng-repeat="title in book.titles">
                <a ng-if="title.link" href="{{title.link}}" ng-bind-html="title.title"></a>
                <span ng-if="!title.link" ng-bind-html="title.title"></span>
            </div>
        </h2>

        <header>
            <table class="book-metadata">
                <tbody>
                    <td class="author"><div ng-repeat="author in book.authors" ng-bind-html="author"></div></td>
                    <td class="publisher" ng-bind-html="book.publisher"></td>
                    <td class="published-year"><div ng-repeat="year in book.years" ng-bind-html="year"></div></td>
                </tbody>
            </table>
        </header>

        <div ng-bind-html="book.body"></div>
    </article>
</section>

</body>

</html>
