<html lang="en" ng-app="journalApp" ng-controller="JournalCtrl as journal">

<head>
    <link rel="stylesheet" type="text/css" href="../tufte.css" />
    <link rel="stylesheet" type="text/css" href="../journal.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{journal.title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <script src="../lib/Journal.js"></script>
</head>

<body>

<h1>{{journal.title}}</h1>

<div ng-repeat="entry in journal.entries">
    <div class="separator" ng-if="!$first"></div>
    <article>
        <h2 id="{{entry.date}}" ng-click="hideShow=(hideShow ? false : true)">{{entry.pretty_date}}</h2>
        <header ng-if="hideShow && entry.history">
            <table>
                <caption>History</caption>
                <tbody>
                <tr ng-repeat="historyEntry in entry.history">
                    <td class="time">{{historyEntry.date}}</td>
                    <td>{{historyEntry.message}}</td>
                </tr>
                </tbody>
            </table>
        </header>
        <section ng-bind-html="markdown(entry.body)"/>
    </article>
</div>

</body>

</html>
